<html>
<head>
<title>Photo stylization</title> 
<link rel="stylesheet" href="css/index.css" />   
</head>
<body>
<div id="head">
    <h1>Photo stylization</h1>
</div>

<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <form method="post" action="/" enctype="multipart/form-data" name="form" onsubmit="return validateForm()">
            <input id = "content_file" type="file" name="content-file" class="form-control" autocomplete="off" accept="image/*" required>
            <img id ="display-image-content">
                style-file
                <div id="image-display">
                    
                    <figure>
                        <img src="image/The_Scream.jpg">
                        <figcaption>Edvard Munch, 1893, The Scream, oil, tempera and pastel on cardboard</figcaption>
                    </figure>
                    <figure>
                        <img src="image/The_Starry_Night.jpg">
                        <figcaption>Vincent van Gogh, (1853-1890) The Starry Night, 1889, oil on canvas</figcaption>
                    </figure>
                    <figure>
                        <img src="image/Udnie.jpg">
                        <figcaption>Udnie – (Francis Picabia),oil,Cubism</figcaption>
                    </figure>
                </div>
            </p>
            <div id="sliderBox">
                   <label>Style-degree: </label><p><input type="range" id="sliderStyleDregree" min="0" max="10" value="10" class="sliders" /> <span id="style-degree">1</span></p>
            </div>
            <input type="hidden" name="style_file" value="" required>
            <input type="hidden" name="style_degree" value ="1" required>
        </dl>
        <input type="submit" value="Submit" class="btn btn-info">
    </form>
</div>
</body>
</html>