<html>
<head>
<title>Photo stylization</title> 
<link rel="stylesheet" href="css/index.css" />   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> /*jquery*/
</script>
<script type="text/javascript" src="js/function.js"></script>
</head>
<body>
<div id="head">
    <h1>Photo stylization</h1>
</div>
<div id="discription">
    <p>The render is done!</p>
</div>
<div id ="image">
    <p>Here the photo been uploaded for rendering.</p>
    <div class="image-display">
        <figure>
            <img src="image/blend-apple-orange.jpg">
            <figcaption>The photo before rendered</figcaption>
        </figure>
        <figure>
            <img src="image/Udnie.jpg">
            <figcaption>The style apply</figcaption>
        </figure>
    </div>
    <div id="output-image">
        <figure>
            <img src="image/blend-apple-orange_Udnie.jpg">
            <figcaption>The stylized image</figcaption>
        </figure>
    </div>
    
</div>
</body>
</html>